**Functions** are a block of code defined with a name.
functions provide reuseability of code.

**DRY** -- Do not repeat yourself

# Types of Functions

1. Build-in Functions or Predefined functions.
2. User defined functions.

# Creating a Function

In [4]:
def first_function(): # name of the block of code
    print("data science is amazing")
    
    
first_function()    # function is called

data science is amazing

In [6]:
def bhumi():
    print("today i got an pen")
    print("today total expenses:",80+567)
bhumi()

today i got an pen
today total expenses: 647

# Creating a Functions with parameters

In [7]:
def first_function(x):
    print("data science is amazing")
    print(x)
first_function(12) # function is called and a value is passed

data science is amazing
12

In [8]:
def second_function(x,y):
    print(x)
    print(y)
second_function(123,67)

123
67

In [9]:
def second(x,y):
    print(x+y)
second(98,56)

154

In [10]:
def second(range(1,30)):
    print("range")
second()

SyntaxError: invalid syntax (841630433.py, line 1)

In [17]:
def moon(x,y,z):
    print("gkjgj")
moon(range(1,3),range(1,2),range(2,5))

gkjgj

In [26]:
def moon(x,y,z):
    print(range(1,10))
moon(1,2,3)

range(1, 10)

In [27]:
def moon(x,y,z,i):
    print(x)
    print(y)
    print(z)
    print(i)
moon("str",(2+3),True,[12])

str
5
True
[12]

In [1]:
def moon(v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v,v):
    print(v)
moon(56)

SyntaxError: duplicate argument 'v' in function definition (2282364696.py, line 1)

In [3]:
def moon(v,x,y,v):
    print(v)
    print(x)
    print(y)
    print(v)
moon(4,5,6,7)

SyntaxError: duplicate argument 'v' in function definition (2537233882.py, line 1)

In [4]:
def calculate(x,y):
    print(x*y)
    print(x/y)
    print(x-y)
    print(x+y)
calculate(2,3)

6
0.6666666666666666
-1
5

# Returning value from a function

In [24]:
def calculator(x,y):
    a = x+y
    return a        # returning the values of the function
calculator(23,67)

90

In [18]:
def calculator(x,y):
    a = x+y
    return a
b = calculator(23,67)
print(b)

90

In [19]:
def calculator(x,y):
    a = x+y
    return a
b = calculator(23,67) + 67
print(b)

157

In [23]:
def calculator(x,y):
    a = x+y
    
    return a 
x = calculator(23,67) # it will not give any output because now values are pass in x

In [25]:
def calculator(x,y):
    a = x+y
    return a 
x = calculator(23,67)
print(x)

90

In [30]:
def my_fuc(x,y):
    print("We are adding numbers")
    a = x+y
    return a
    print("hello world") # this will be not printed cause after return function anything written in it will not be printed 
my_fuc(23,78)

We are adding numbers

101

In [4]:
def func():
    print("xyz")
    return 
x = func()
print('the value of x is',x)

xyz
the value of x is None

In [40]:
def func(a):
    print("xyz")
    print(a)
    return a
x = func(78)
print("the value of x",x)

xyz
78
the value of x 78

In [39]:
def func(a):
    print("xyz")
    print(a)
    return None
x = func(78)
print("the value of x",x)

xyz
78
the value of x None

In [38]:
def func(a):
    print("xyz")
    print(a)
    return True
x = func(78)
print("the value of x",x)

xyz
78
the value of x True

In [41]:
print(print("hello")) # it was still returning none

hello
None

In [45]:
print("hello") # it was still returning none but not showing it because where it has been formed they have formed the code 
               #in that way so that the output which we want is coming .

hello

In [46]:
print(None)

None

In [47]:
None

In [3]:
print(None)

None

In [4]:
print(print(print("h")))

h
None
None

In [1]:
print(type("h"))

<class 'str'>

In [2]:
type(print("h"))

h

NoneType

In [6]:
type("bhumi")

str

In [5]:
type("bhumi")
'bhumi'

'bhumi'

In [5]:
def add(a,b):
    sum = a+b
    return sum  
add(45,78)

123

In [9]:
def add(a,b):
    sum = a+b
    print(sum)  # yeha bhi value return hori h by default return none hori h add(45,78) ki jgha ,or print command diya h humne
add(45,78)      # isliye hi vo 123 result mai de raha h

123

In [7]:
def add(a,b):
    sum = a+b
    return None
add(45,78)

In [8]:
def add(a,b):
    sum = a+b
    return None
print(add(45,78))

None

In [6]:
def add(a,b):
    sum = a+b
    print(sum)
    return 123
add(45,78)

123

123

In [1]:
def func(a):
    print("xyz")
    print(a)
    print(a-23)
x = func(45)
print("the value of x is",x) # its returning none because x has no vaalue before returning its value

xyz
45
22
the value of x is None

In [3]:
def func(a):
    print("xyz")
    print(a)
    print(a-23)
    return a # we have returned the value of x because we have given the command of return to return the value 
x = func(45)
print("the value of x is",x)

xyz
45
22
the value of x is 45

In [1]:
# Returning multiple values frm a function

In [2]:
a,b=("hello",67)
print(a)
print(b)

hello
67

In [3]:
def calculator(a,b):
    sum = a+b
    diff = a-b
    product = a*b
    div = a/b
    return sum,diff,product,div  # returns the value in the from of tuple
x = calculator(10,2)
print(x)

(12, 8, 20, 5.0)

In [4]:
def calculator(a,b):
    sum = a+b
    diff = a-b
    product = a*b
    div = a/b
    return sum,diff,product,div  # returns the value in the from of tuple
a,b,c,d = calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [5]:
def calculator(a,b):
    sum = a+b
    diff = a-b
    product = a*b
    div = a/b
    return sum,diff,product,div  # returns the value in the from of tuple
p,q,r,s = calculator(10,2)
print(p,q,r,s)

12 8 20 5.0

In [13]:
y,c,b,a = calculator(8,4)   # problem
print(b)

32

In [12]:
y = calculator(8,4)
print(y)

(12, 4, 32, 2.0)

# Using docstrings in Functions

In [14]:
# Single-line docstrings
def show_result():
    """Let us understand docstrings"""
    print("This is a test program")

In [15]:
show_result.__doc__

'Let us understand docstrings'

In [16]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand docstrings

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
def show_result():
    """Let us understand docstrings
    
    This is about docstrings,when we write  about multiline docstrings
    it has to be the single in first and then one empty line nd then start 
    to give an discripsion"""
    print("This is a test program")
show_result()

This is a test program

In [32]:
def show_result():
        print("This is a test program")
        """Let us understand docstrings
    
        This is about docstrings,when we write  about multiline docstrings
        it has to be the single in first and then one empty line nd then start 
        to give an discripsion"""
        print('moon')
        
show_result()

This is a test program
moon

In [33]:
help(show_result)

Help on function show_result in module __main__:

show_result()

In [22]:
print(show_result.__doc__)

Let us understand docstrings

    This is about docstrings,when we write  about multiline docstrings
    it has to be the single in first and then one empty line nd then start
    to give an discripsion

In [23]:
show_result.__doc__

'Let us understand docstrings\n    \n    This is about docstrings,when we write  about multiline docstrings\n    it has to be the single in first and then one empty line nd then start \n    to give an discripsion'

In [24]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understand docstrings

    This is about docstrings,when we write  about multiline docstrings
    it has to be the single in first and then one empty line nd then start
    to give an discripsion

# Scope of variables

In [20]:
t = "python"         # global variable

def scope_var():
    u = "analytics"  # local variable
    print("T is",t)
scope_var()

print("The value of t is ",t)
print("the value of u is ",u)

T is python
The value of t is  python

NameError: name 'u' is not defined

In [21]:
t = "python"  # global variable
u = "analytics" # global variable u
def scope_var():
    u = "data science"  # local variable u
    print(u)
    print("T is",t)
scope_var()

print("The value of t is ",t)

print("the value of u is ",u)  # global variable u

data science
T is python
The value of t is  python
the value of u is  analytics

In [22]:
t = "python"  # global variable
u = "analytics" # global variable u
def scope_var():
    print("value of u outside function before declaring it as local is",u)
    u = "data science"  # local variable u
    print(u)
    print("T is",t)
scope_var()

print("The value of t is ",t)

print("the value of u is ",u)  # global

UnboundLocalError: local variable 'u' referenced before assignment

# Global variables
* making global variable inside an funcution

In [9]:
def test_global():
    global x 
    x = 78
    print("value of x inside function",x)
    
test_global()


print("value of x outside function",x)

value of x inside function 78
value of x outside function 78

In [10]:
def test_global():
    global x = 78
    print("value of x inside function",x)

    
test_global()


print("value of x outside function",x)

SyntaxError: invalid syntax (908741043.py, line 2)

In [13]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [25]:
x = 'hello world'

def print_result():
    global x
    x = "hi"
    print(x)
    
print(x)
print(x)
print_result()
print(x)
print(x)

hello world
hello world
hi
hi
hi

In [26]:
x

'hi'

In [6]:
x = 'hello world'

def print_result():
    global x
    x = "hi"
    print(x)
print_result()
print(x)
print(x)

hi
hi
hi

In [16]:
def show_result():
    global a
    a = 10
    sum = a+78
    print(sum)
show_result()
print(a)

88
10

In [12]:
def moon(x,y):
    sum = x+y
    return sum
moon(3,78)

81

In [9]:
def calc(x,y):
    a = x+y
    return a
a = 'str'  # this is an global variable 
print(calc(1,5))
print(a)

6
str

In [11]:
def calc(x,y):
    a = x+y
    return a
global a
a = 'str' 
print(calc(1,5))
print(a)

6
str

# Non-Local Variables

In [7]:
def outer():
    w = 89
    def inner():
        w = 67
        print(w)
    inner()
    print(w)
outer()

67
89

In [23]:
"""as if we see this code we made an function when the fun. has been made now at first we have called the outer() '1st' 
   then as it was called firstly it will start running from outer and in that fun. there is inner() fun. tooo now inside 
   the outer as we have called the innrr() fun.  the 67 will be printed first nd then we have written print(w) now it will 
   give the output 89,because it is in the indent of '1st' function."""

"as if we see this code we made an function when the fun. has been made now at first we have called the outer() '1st' \n   then as it was called firstly it will start running from outer and in that fun. there is inner() fun. tooo now inside \n   the outer as we have called the innrr() fun.  the 67 will be printed first nd then we have written print(w) now it will \n   give the output 89,because it is in the indent of '1st' function."

In [14]:
def outer(w):
    print(w)
    def inner(w):
        print(w)
    inner(67)
    print(w)
outer(89)

89
67
89

In [1]:
def outer():
    w = 89
    def inner():
        nonlocal w #the nonlocal will change the value of those variable which are no local for that function,
        w = 67 # like in this (w=67) is an local variable and (w=89) is an global value for it,    
        print(w)   # agar hume nonlocal valee mai bhi change lana h tho hum non local ka use krenge,
    inner()        # isko use krne ke baad gobal mai jo bhi value hogi vo change ho jaye gi local se.  
    print(w)
outer()

67
67

In [3]:
def outer():
    # w = 89  # if we did'nt gave here any gloal variable it will gave an error
    def inner():
        nonlocal w
        w = 67
        print(w)
    inner()
    print(w)
outer()

SyntaxError: no binding for nonlocal 'w' found (2443006703.py, line 4)

In [4]:
def moon(x,y): # here x,y are parameters
    return x+y
moon(45,78) # here (45,78) are arguments

123

In [5]:
def moon(x,y):
    def star(a,b):
        def saturn(c,d):
            def neptune(e,f):
                def mars(g,h):
                    return

# Python Functional Arguments

* Positional Arguments
* Keyword Arguments 
* Default Arguments
* Variable-length Arguments

In [6]:
def my_function():
    pass
my_function(56)

TypeError: my_function() takes 0 positional arguments but 1 was given

<font size =4>1. **Positional Arguments** are arguments that are passed to a function in proper positional order.

In [8]:
def calc(p,q): 
    diff = p-q
    return diff

calc(89,45) # p= 89 , q = 98

44

In [13]:
def calc(q,p): 
    diff = p-q # because of this
    return diff

calc(89,45) # p= 89 , q = 98

-44

In [9]:
calc(45,89)

-44

In [10]:
calc(89,45,56)

TypeError: calc() takes 2 positional arguments but 3 were given

<font size =6> # 2. Keyword Arguments-
  * Values get assigned to the parameters by their name(keyword)
  * here the order of the arguments does not matter.

In [14]:
def calc(p,q):
    diff = p-q
    return diff
calc(p=10,q=2)

8

In [15]:
calc(q=2,p=10)

8

In [16]:
calc(a=10,b=2)

TypeError: calc() got an unexpected keyword argument 'a'

In [24]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

# Default Arguments-
<font size = 4> * Takes the default value during the function call if we do not pass any argument

In [25]:
def get_message(msg='hello world'):
    print(msg)
get_message('Hi')

Hi

In [26]:
get_message()

hello world

In [27]:
def get_message(msg='hello world'):
    print(msg)
get_message('Hi','Hello world')

TypeError: get_message() takes from 0 to 1 positional arguments but 2 were given

In [34]:
def get_message(msg='hello world',hi='hii'):  # confusing
    print(msg)
get_message('Hi','Hello world')

Hi

In [36]:
def get_message(msg='hello world',hi='hii'):  # confusing
    print(msg)
get_message('Hi')

Hi

In [37]:
def get_message(msg='hello world',hi='hii'):  # confusing
    print(msg)
get_message()

hello world

In [38]:
def get_message(msg,hi='hii'):  # confusing
    print(msg)
get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [35]:
def get_message(msg):
    print(msg)
get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [41]:
def get_message(msg,hi='hii'): # (msg=parameter),(hi='hii'=default value)
    print(msg,hi)
get_message('hi',hi=78)

hi 78

# Variable-length arguments or Arbitary Arguments

<font size= 4>**When we need to pass multiple arguments to the function , we can use variable-length arguments.**

In [5]:
# Arbitary positional arguments
def average(*numbers):  # numbers is a tuple
    print(numbers)
    diff=20
    for x in numbers:
        diff =diff-1
    print(diff)
average(9,4,12)

(9, 4, 12)
17

In [9]:
def average(*numbers):  # when we have to use this arguments we have to write it with its syntax (*)
    print(numbers)
    sum=0
    for x in numbers:
        sum = sum+x
    print(sum/len(numbers))
average(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
5.5

In [10]:
def my_func(**kwargs):  # kwargs is a dictionary
    print(kwargs)
    for sub in kwargs:
        print(sub)
        # get argument value
        sub_marks = kwargs[sub]
        print(sub, '=' , sub_marks)

# pass multiple keyword arguments
my_func(math=56, english=61 , science=73)

{'math': 56, 'english': 61, 'science': 73}
math
math = 56
english
english = 61
science
science = 73

In [12]:
def my_func(**kwargs):  # when we have to use this arguments we have to write it with its syntax (**)
    print(kwargs)
    for sub in kwargs:
        # get argument value
        sub_marks = kwargs[sub]  # calling it value by its key and cause of for loop it will iterate over and over.
        print(sub, '=' , sub_marks)
        print(sub_marks/len(kwargs))

# pass multiple keyword arguments
my_func(math=56, english=61 , science=73)

{'math': 56, 'english': 61, 'science': 73}
math = 56
18.666666666666668
english = 61
20.333333333333332
science = 73
24.333333333333332

In [13]:
def testing(x):
    if x ==10:
        return 'hello world'
    return testing(x-1)
testing(15)

'hello world'

In [15]:
def testing(x):
    if x ==10:
        return 'hello world'
testing(15)

In [17]:
print("hello",sep='hello')

hello

# Recursion

* A recursion function is a function taht calls itself, again and again

In [ ]:
def my_func():
    my_func()
my_func

In [2]:
def factorial(no):
    if no==0:
        return 1
    else:
        return no*factorial(no-1)
    
print("Factorial of number is :", factorial(4))

Factorial of number is : 24

# Lambda Function(anonymous)

In [5]:
# used for instant and one-time use
# Written in just one time

In [1]:
#syntax = lambda : expression
         #lambda parameters : expression

In [14]:
(lambda: print("Hello world"))()

Hello world

In [3]:
# we can make parameters in lambda
( lambda x,y : print(x+y))(10,5)

15

In [16]:
lambda a : print(a+5)(10)

In [8]:
(lambda a : print(a+5))(10)

15

In [15]:
sum=12
lambda a : sum=9# this is not an expression cause it is just assigning it , its not giving any value

SyntaxError: cannot assign to lambda (2786708850.py, line 2)

In [17]:
sum=12
lambda a : sum=9(10)

SyntaxError: cannot assign to lambda (3664923169.py, line 2)

In [18]:
# functions
# 1. filter(function,iterable)

In [21]:
list(filter(lambda x : x%2==0,(1,2,3,4,5,6)))

[2, 4, 6]

In [22]:
list(filter(lambda x : None ,(1,2,3,4,5,6)))

[]

In [23]:
list(filter(lambda x : True ,(1,2,3,4,5,6)))

[1, 2, 3, 4, 5, 6]

In [24]:
list(filter(lambda x : 0,(1,2,3,4,5,6)))

[]

In [25]:
list(filter(lambda x : 67,(1,2,3,4,5,6)))

[1, 2, 3, 4, 5, 6]

In [26]:
(lambda x : x%2==0)(8)

True

In [31]:
(filter(lambda x : x%2==0,(1,2,3,4,5,6)))

In [3]:
(filter(lambda y,x,z : if(y==0) else print(y),(0,1,2)))()

SyntaxError: invalid syntax (3823322206.py, line 1)

In [34]:
(lambda : print("hello world"))()
def fun_(y,z):
    print(1+6)
    print(y+z)
    print(y*z)
    print(y/z)
    print(2+2)
fun_(37,28)

hello world
7
65
1036
1.3214285714285714
4

In [36]:
def fun_(y,z):
    print(1+6)
    print(y+z)
    print(y*z)
    print(y/z)
    print(2+2)
fun_(37,28) 
(lambda : print("hello world"))()
fun_(67,39)

7
65
1036
1.3214285714285714
4
hello world
7
106
2613
1.7179487179487178
4

In [37]:
str((lambda : print(27+46)))()

TypeError: 'str' object is not callable

In [39]:
set((lambda : print(2,3,4,5,)))()

TypeError: 'function' object is not iterable

In [40]:
(lambda : print("27+46"))()

27+46

In [41]:
# map (function,iterable)
# Takes a function as a first argument and applies it to each of the element of the iterable.

In [42]:
list1 = [2,3,4,8,9]
list2 = list(map(lambda x: x+2 , list1))
print("Result is :", list2)

Result is : [4, 5, 6, 10, 11]

In [43]:
list1 = [2,3,4,8,9]
list2 = list(map(lambda x: "data science" , list1)) # it will replace the value 
print("Result is :", list2)

Result is : ['data science', 'data science', 'data science', 'data science', 'data science']

In [50]:
x = "rohan"
y = list(map(lambda x[0] : "R",x))
print(y)

SyntaxError: invalid syntax (3225412875.py, line 2)

In [51]:
x = [1,2,3,4]
y = list(map(lambda x : 8 ,x))
print(y)

[8, 8, 8, 8]

In [55]:
x = [1,2,3,4]
y = dict(map(lambda x : range(1,10000000000000000000000000000) ,x))
list = y
print(y)

OverflowError: Python int too large to convert to C ssize_t

In [58]:
x = 8
if(x%2==0) : print(x)

8

In [5]:

if(x%2==0) : print(x)

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [1]:
even_or_odd = lambda x : "Even" if x%2==0 else "Odd"
even_or_odd(4)
"Even"
even_or_odd(5)
"odd"

'odd'

In [ ]:
even_or_odd = lambda x : "Even" if x%2==0 else "Odd"

In [4]:
numbers = list(range (1,11))
even = list(filter(lambda x : x%2==0 , numbers))
odd = list(filter(lambda x : x%2 != 0 , numbers))

print("Even numbers", even)
print("Odd numbers", odd)

Even numbers [2, 4, 6, 8, 10]
Odd numbers [1, 3, 5, 7, 9]

In [9]:
numbers = list(range(1,11))
even = list(filter(lambda x : "Even" if x%2==0 else '',numbers))
odd = list(filter(lambda x: "Odd" if x%2!=0 else "", numbers))

print("Even numbers", even)
print("Odd numbers" , odd)

Even numbers [2, 4, 6, 8, 10]
Odd numbers [1, 3, 5, 7, 9]

In [13]:
numbers = list(range(1,11))
even = list(filter(lambda x : x if x%2==0 else x,numbers))
odd = list(filter(lambda x: "Odd" if x%2!=0 else "", numbers))

print("Even numbers", even)
print("Odd numbers" , odd)

Even numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Odd numbers [1, 3, 5, 7, 9]